<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGetNumberOfRepetitions" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60533/CountNumberOfRepetitions.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetNumberOfRepetitions"
                contract="IGetNumberOfRepetitions" name="BasicHttpBinding_IGetNumberOfRepetitions" />
        </client>
    </system.serviceModel>
</configuration>