extends ./layout.jade

block content
    p= 'Welcome to our amazing site! Here you can find the latest mobile devises that will make your mind blow up!'
    p= 'Feel free to browse our store to keep in touch with the newest technologies the digital wrld could offer.'
    p= 'Please, note that the prices does nto include VAT and the actual price will probably by several times higher.'
    p= 'Best regards, MobShop Team!'