body,
div,
ul,
li,
span,
p,
button,
h1,
input {
  padding: 0;
  margin: 0;
}
body {
  color: #555555;
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
}
div#wrapper {
  width: 960px;
}
div#wrapper > div {
  margin: 30px;
  width: 380px;
  height: 463px;
  border: 1px solid black;
  border-radius: 15px;
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0, #aaaaaa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(100%, #aaaaaa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0, #aaaaaa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0, #aaaaaa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0, #aaaaaa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0, #aaaaaa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@botomColor', GradientType=0);
  /* IE6-9 */
  position: relative;
}
h1 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1.8em;
  font-weight: bold;
}
ul {
  list-style: none;
}
li {
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 5px 15px;
}
li.me-item {
  background: #29edff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #29edff 0, #c0faff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #29edff), color-stop(100%, #c0faff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #29edff 0, #c0faff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #29edff 0, #c0faff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #29edff 0, #c0faff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #29edff 0, #c0faff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@botomColor', GradientType=0);
  /* IE6-9 */
  float: right;
  margin-right: 15px;
}
li.me-item span.date {
  float: right;
  font-family: Consolas;
  font-size: 0.8em;
}
li.me-item > span:first-of-type {
  font-weight: bold;
  font-size: 1.1em;
}
li.toshko-item {
  background: #dfffd2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dfffd2 0, #6fff3b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dfffd2), color-stop(100%, #6fff3b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfffd2 0, #6fff3b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfffd2 0, #6fff3b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dfffd2 0, #6fff3b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dfffd2 0, #6fff3b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@botomColor', GradientType=0);
  /* IE6-9 */
  float: left;
  margin-left: 15px;
}
li.toshko-item span.date {
  float: left;
  font-family: Consolas;
  font-size: 0.8em;
}
li.toshko-item > span:first-of-type {
  display: block;
  text-align: right;
  font-weight: bold;
  font-size: 1.1em;
}
input {
  width: 260px;
  height: 35px;
  padding-top: 0;
  padding-left: 15px;
  margin-top: 2px;
  margin-left: 15px;
  background-color: #eeeeee;
  border: 0 solid black;
  border-radius: 5px;
  color: #555555;
}
button {
  width: 69px;
  height: 32px;
  margin-bottom: 1px;
  border: 0 solid black;
  border-radius: 5px;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0, #ababab 100);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(100, #ababab));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ededed 0, #ababab 100);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ededed 0, #ababab 100);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ededed 0, #ababab 100);
  /* IE10+ */
  background: linear-gradient(to bottom, #ededed 0, #ababab 100);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@botomColor', GradientType=0);
  /* IE6-9 */
  font-size: 1.1em;
  vertical-align: middle;
}
button:hover {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0, #eeeeee 100);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(100, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0, #eeeeee 100);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0, #eeeeee 100);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0, #eeeeee 100);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0, #eeeeee 100);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@botomColor', GradientType=0);
  /* IE6-9 */
}
/*# sourceMappingURL=task3.css.map */