<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDayOfWeekService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:38241/DayOfWeekService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDayOfWeekService"
                contract="DayOfTheWeekService.IDayOfWeekService" name="WSHttpBinding_IDayOfWeekService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>